html,
body{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #f8ebe9;
    width: 100vw;
    height: 100vh;

}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
}
.image{
    height: 90vh;
    width: 22vw;
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section2{
    background-color: white;
    height: 90vh;
    width: 60vw;
    padding: 2rem;
}
.part1{
    display: flex;
}
.preview{
    height: 11rem;
    width: 16rem;
    padding: 2rem;
}
.drive{
    padding: 0.5rem;
    margin: 1rem;
    line-height: 2rem;
}
.spain{
    color: black;
    font-weight: bolder;
}
nav{
    width: 100%;
    align-items: flex-end;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav ul{
    font-size: large;
    display: flex;
    gap: 20px; 
  justify-content: flex-end;
    list-style-type: none;
}
h1{
    font-size: 60px;
    font-weight: 500;
    padding-left: 2rem;
    height: 110px;
}
.visiting{
    display: flex;
}
h3{
    padding-left: 2.5rem;
    padding-top: 1.5rem;
}
.relative{
    position: relative;
    align-items: center;
    justify-content: center;
}
.play{
    position: absolute;
    background-color: white;
    top: 35%; left: 45%; border-radius: 15px;
}
.forward{
    display: flex;
    padding-left: 3rem;
    font-size: small;
}
